/* Inline code Styling*/
code {
    background-color: #e0e0e0;
    color: #d63384;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95em;
}
/* Hover Effect for inline code */
code:hover {
    background-color: #e2e6ea;
    color: #0056b3;
}

/*Block Code Styling*/
pre code {
    background-color: #f9f9f9;
    color: inherit;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
}
